# Compiler files
cache/
out/
optimized-out/

# Ignores development broadcast logs
broadcast/*
broadcast/**/dry-run/*
!broadcast/AdvisorVestingWallet.s.sol/
broadcast/AdvisorVestingWallet.s.sol/dry-run
broadcast/AdvisorVestingWallet.s.sol/8453/*
!broadcast/AdvisorVestingWallet.s.sol/8453/run-latest.json

# Dotenv file
.env

scripts/loadEnv.sh
